app/src/main/res/xml/wifi_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="wap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bssid"/>
        <xs:element ref="rssi"/>
        <xs:element ref="ssid"/>
        <xs:element ref="capabilities"/>
        <xs:element ref="frequency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bssid" type="xs:NMTOKEN"/>
  <xs:element name="rssi" type="xs:integer"/>
  <xs:element name="ssid" type="xs:NCName"/>
  <xs:element name="capabilities" type="xs:string"/>
  <xs:element name="frequency" type="xs:integer"/>
</xs:schema>
